- flash.each do |type, msg|
    .bg-red-100.mt-4.border.border-red-400.text-red-700.px-4.py-3.rounded.relative{role: "alert"}
        %span.block.sm:inline= msg


= form_for :user, url: login_path, html: {class: "flex flex-col bg-white rounded shadow-lg p-12 mt-12"} do |f|
    = f.label :email, class: "font-semibold text-xs"
    = f.text_field :email, class: " flex items-center h-12 px-4 w-64 bg-gray-200 mt-2 rounded focus:outline-none focus:ring-2"
    = f.label :password, class: "font-semibold text-xs mt-3"
    = f.password_field :password, class: "flex items-center h-12 px-4 w-64 bg-gray-200 mt-2 rounded focus:outline-none focus:ring-2"
    = f.submit "Login", class: "mt-5 bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline"
